<html>
	<head>
		<title>Mehtap'ın blogu</title>
	</head>
	<body>
		<div>
			<h1><a href="https://djangogirls.org/">Django Girls Web Sayfası</a></h1>
		</div>
			{% for post in posts %}
    <div>
        <p>yayınlanma: {{ post.yayinlanma_tarihi }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaks }}</p>
    </div>
		{% endfor %}
		<div>
			<p>Tarih: 12.12.2015, 16:20</p>
			<h2> <a href="https://google.com">Google.com</a></h2>
			<p>Bu benim ikinci div'im öyle uğraşıp duruyoruz p ler h ler div ler falan</p>
		</div>
	</body>
</html>