<html>
	<head>
		<title>Mehtap'ın blogu</title>
	</head>
	<body>
		<div>
			<h1><a href="https://djangogirls.org/">Django Girls Web Sayfası</a></h1>
		</div>
		<div>
			<p>Tarih: 12.12.2015, 15:52 </p>
			<h2><a href="https://github.com/redwoman">github hesabımdan projelere ulaşabilirsiniz.</a></h2>
			<p>Aman Tanrım!! Ölüyorum heycandan acayibim :). Bu benim ilk web uygulamam. Umarım bunu çok iyi geliştirebilirim.. </p>
		</div>
		<div>
			<p>Tarih: 12.12.2015, 16:20</p>
			<h2> <a href="https://google.com">Google.com</a></h2>
			<p>Bu benim ikinci div'im öyle uğraşıp duruyoruz p ler h ler div ler falan</p>
		</div>
	</body>
</html>